/* Almost black: #121e26
Deep forest green: #283635
Light beige: #f4efeb
Beige: #d2c0b2
Clay: #9d6556 */

@font-face {
    font-family: Gotham-Book;
    src: url("./fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("./fonts/Gotham-Bold.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    width: 215px;
    height: 50px;
    background-color: #9d6556;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 250ms linear;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid #9d6556;
    color: #000;
}