@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-alternates-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/montserrat-alternates-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/montserrat-alternates-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/montserrat-alternates-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/montserrat-alternates-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }

:root {
    --almost-black: #121e26;
    --deep-forest-green: #283635;
    --light-beige: #f4efeb;
    --beige: #d2c0b2;
    --clay: #9d6556;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    width: 215px;
    height: 50px;
    background-color: var(--clay);
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 250ms linear;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--clay);
    color: #000;
}